<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Movies Recommender Client</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>

    <body>
        <th:block>
            <body>
                <div class="container pt-5">
                    <div th:if="${user}">
                        <h1 class="title">
                            <span>Logged in</span>
                        </h1>
                        <p>
                            <b>Full name: </b>
                            <span th:text="${user.getFullName()}"></span>
                        </p>
                        <p><a href="/token">See access token</a></p>
                    </div>

                    <div th:if="${user == null}">
                        <h1 class="title">Not logged in</h1>
                        <a href="/login" class="button is-primary">Login</a>
                    </div>
                </div>
            </body>
        </th:block>
    </body>
</html>
